

@import "../components/bourbon/dist/bourbon";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "../components/jasny-bootstrap/dist/css/jasny-bootstrap.css";

@import "cartodb.css";

	// Importo font-family: 'DIN-Bold','DINCond-Medium','DIN-Light','DIN-Medium'; 

@include font-face('DIN-Bold', 'fonts/DINB____');
@include font-face('DINCond-Medium', 'fonts/DINCond-Medium');
@include font-face('DIN-Light', 'fonts/DINL____');
@include font-face('DIN-Medium', 'fonts/DINM____');
@include font-face('iconos-cucc', 'fonts/iconos-cucc');


// Core variables and mixins
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
// @import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";


/*************

   Variables

**************/

$nav-width: 600px;
$main-color: #0d0c22;
$main-font-color: #fff;

$input-size: 30px;

$fontset-default: "DIN-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-dinlight: "DIN-Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-dinbold: "DIN-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-dincondmedium: "DINCond-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

.navmenu,
.navbar-offcanvas {
  width: $nav-width;
  height: auto;
	border: none;
}

.cartodb-zoom {
	float: right !important;
	
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
}

#map {
	position: absolute;
	@extend body;
	z-index: 10;
	top: 0;
	left: 0;
}

h1, h2, h3, p {
	font-family: $fontset-dinlight;
}

h1 {
	font-size: 4em;
}

nav {
	position: absolute;
	width: $nav-width;
	height: 100%;
	z-index: 999;
	
	color: $main-font-color;

	.map-selector {
		position: absolute;
		width: 100%;
		top: 20px;

		h2 {
			font-size: 2.6em;
			text-transform: uppercase;
			text-align: right;
			padding: 35px 0;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			text-align: right;
		}

		li {
			font-family: $fontset-dinbold;
			text-transform: uppercase;
			font-size: 2em;
		}
		label {
			cursor: pointer;
			transition: all .2s ease;
			&:hover {
				opacity: 0.5;
			}
		}
		
		.overcursor {
			cursor: pointer;
			transition: all .2s ease;
			&:hover {
				opacity: 0.5;
			}
		}
	}

	.static {
		position: absolute;
		bottom: 20px;
		left: 50px;

		h1 {
			font-size: 3em;
			text-transform: uppercase;
			letter-spacing: -0.04em;
			clear: both;
		}

		.version {
			font-family: $fontset-dinlight;
			font-size: 1.5em;
			float: right;
		}
	}
}

.active {
	background: rgba($main-color,.9);
}

.inactive {

}


[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "iconos-cucc";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}

.icon-cerrar:before { content: '\63'; }
.icon-menu:before { content: '\6d'; }


input[type=radio] {
  cursor: pointer;
  height: $input-size;
  width: $input-size;
  margin: 10px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

input[type=radio] + span {
  background: #e74c3c;
  border-radius: 31px;
  display: inline-block;
  width: 31px;
  height: 31px;
  margin: 15px 0px -4px 10px;
  position:relative;
  transition: all .2s ease;
}

input[type=radio] + span::before {
  background:#000;
  content:'';
  display:block;
  position:absolute;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  transition: all .2s ease;
  left: 10px;
  top: 10px;
}


input[type=radio]:checked + span {   
	background: #fff;
}

input[type=radio]:checked + span::before{
	background:#000;
	width: 12px;
	height: 12px;
	left: 9px;
	top: 9px;
}


input[type=checkbox] {
  cursor: pointer;
  height: $input-size;
  width: $input-size;
  margin: 10px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

input[type=checkbox] + span {
  background: #e74c3c;
  border-radius: $input-size;
  display: inline-block;
  width: $input-size;
  height: $input-size;
  margin: 15px 0px -4px 10px;
  position:relative;
  transition: all .2s ease;
}

input[type=checkbox] + span::before, input[type=checkbox] + span::after{
  background:#000;
  content:'';
  display:block;
  position:absolute;
  width:4px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before{
  height:16px;
  left:13px;
  top:7px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

input[type=checkbox] + span::after{
  height:16px;
  right:13px;
  top:7px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

input[type=checkbox]:checked + span {
  background:#fff;			    
}

input[type=checkbox]:checked + span::before{
  height: 9px;
  left: 9px;
  top: 13px;
  -webkit-transform:rotate(-47deg);
  transform:rotate(-47deg);
}

input[type=checkbox]:checked + span::after{
  height: 15px;
  right: 11px;
  top: 8px;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}

