// Importo font-family: 'DIN-Bold','DINCond-Medium','DIN-Light','DIN-Medium'; 

@import "../components/bourbon/dist/bourbon";
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

@include font-face('DIN-Bold', 'fonts/DINB____');
@include font-face('DINCond-Medium', 'fonts/DINCond-Medium');
@include font-face('DIN-Light', 'fonts/DINL____');
@include font-face('DIN-Medium', 'fonts/DINM____');
@include font-face('iconos', 'fonts/iconos-cucc');



@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap/";

/*************

   Variables

**************/

$nav-width: 600px;
$main-color: #0d0c22;
$main-font-color: #fff;

$fontset-default: "DIN-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-dinlight: "DIN-Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-dinbold: "DIN-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-dincondmedium: "DINCond-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;


html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#map {
	@extend body;
}

h1 {
	font-family: $fontset-dinlight;
	font-size: 4em;
}

nav {
	position: relative;
	width: $nav-width;
	height: 100%;
	background: $main-color;
	color: $main-font-color;

	.static {
		position: absolute;
		bottom: 20px;

		h1 {
			font-size: 2em;
			text-transform: uppercase;
			letter-spacing: -0.04em;
		}

		.version {
			font-family: $fontset-dinlight;
		}
	}
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconos-cucc";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cerrar:before { content: '\63'; } /* 'c' */
.icon-gcba:before { content: '\6c'; } /* 'l' */
.icon-menu:before { content: '\6d'; } /* 'm' */