<% content_for :title do %>Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="barrios" data-view="List" data-unordered="true" data-title="Barrios críticos" data-moreinfo="Barrios de la ciudad de Buenos Aires con mayor nivel de criticidad"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="personas" data-view="Number" data-unordered="true" data-title="Personas afectadas" data-moreinfo="Estimación de personas afectadas por cortes de luz"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="esquinas" data-view="List" data-unordered="true" data-title="Esquinas críticas" data-moreinfo="Esquinas de la ciudad de Buenos Aires con mayor nivel de criticidad"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="edificios" data-view="Number" data-unordered="true" data-title="Edificios altos sin luz" data-moreinfo="Estimación de edificios de más de 4 pisos afectadas por cortes de luz"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="luminarias_historico" data-view="Graph" data-title="Número de luminarias en las últimas 48 horas"></div>
    </li>
  </ul>
</div>