<% content_for :title do %>Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Dashboard CUCC" data-view="Text" data-title="Reportes de sistemas sobre fallos energéticos" data-text="Modulos activos: NAGIOS, Luminarias, Informantes voluntarios" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

  

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Reporte" style="background-color:grey"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Barrios" data-moreinfo="# of times said around the office"></div>
    </li>


  </ul>
</div>