<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://localhost:3001/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="/javascripts/init-app.js"></script>
	<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />	
  </head>
  <body>
  	<% include sidebar %>
  	<% include visualizacion %>

	<script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
	<script src="/javascripts/manejoSidebar.js"></script>

  </body>
</html>