<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script type="text/javascript">
		
		localStorage.debug='*';
		
		var socket = io.connect('http://localhost');
	
		socket.on('connected', function(){
			console.log("conectado");
		});
	
		socket.on('update', function(data){
			console.log(data);
		});
	
		socket.on('disconnect', function () {
			console.log('Desconectado!');
		});

		 
    </script>
  </head>
  <body>
    <h1><%= h1 %></h1>
    <p>Welcome to <%= title %></p>
	<ol id="list">
	</ol>
  </body>
</html>