<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/queue.v1.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>			
	<style>

		.calle {
			
		  stroke: #333;
		  fill: none;
		  stroke-width: 1.01px;
		  stroke-linejoin: round;
		  stroke-linecap: round;
		}

		.barrio {
		  fill: #fff;
		  stroke: red;
		  opacity: 0.5;
		}

		.background {
		  fill: none;
		  pointer-events: all;
		}

	</style>
  </head>
  <body>
  </body>
	<script src="javascripts/init-app.js" type="text/javascript"></script>
</html>