<!DOCTYPE html>
<html lang="en" ng-app="app">

  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/components/chosen_v1.2.0/chosen.css">
	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
	<script src="/components/chosen_v1.2.0/chosen.jquery.min.js"></script>


	<script src="/javascripts/cartodb.js"></script>


  </head>
  <body ng-controller="infoCtrl">

  	<% include sidebar %>
  	<% include visualizacion %>

    <script src="/javascripts/manejoSidebar.js"></script>

  </body>

</html>
