<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://localhost:3001/socket.io/socket.io.js"></script>	
  </head>
  <body>
  <% include sidebar %>
  </body>
</html>