<nav class="active navmenu navmenu-default navmenu-fixed-left">
	<div class="container-fluid map-selector">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<h2>Vistas</h2>
				<span id="layer_selector">
					<ul>
						<li class="selected luminarias overcursor" id="ranking_css"><label for="luminarias-radio">Ranking</label><input type="radio" name="vistas" id="luminarias-radio" /><span></span></li>
						<li class="luminarias overcursor" id="porcentaje_css"><label for="porcentaje-radio">% luminarias apagadas</label><input type="radio" name="vistas" id="porcentaje-radio" /><span></span></li>
						<li class="luminarias overcursor" id="tiempo_css"><label for="timepo-radio">Tiempo sin luz</label><input type="radio" name="vistas" id="timepo-radio" /><span></span></li>
					</ul>
			    </span>
				<h2>Sensores</h2>
				<ul>
					<li class="luminarias"><label for="luminarias">Luminarias LED</label><input type="checkbox" id="luminarias" /><span></span></li>
					<li class="nagios"><label for="nagios">Sis. NAGIOS, ASI</label><input type="checkbox" id="nagios" /><span></span></li>
					<li class="informantes-voluntarios disabled"><label for="voluntarios">Informantes Voluntarios</label><input type="checkbox" id="voluntarios" /><span></span></li>
				</ul>
				
				<select name="barrios" id="barrios">
					<option value="" data-barrio="Mapa CABA Completo" data-lat="-34.61943545859432" data-long="-418.4366226196289" data-zoom="12">Posición Original</option>
					<option data-barrio="Agronomia" data-lat="-34.5922445833988" data-long="-58.4883951507128" data-zoom="15">Agronomia</option>
					<option data-barrio="Almagro" data-lat="-34.6098936682854" data-long="-58.4224632845641" data-zoom="14">Almagro</option>
					<option data-barrio="Balvanera" data-lat="-34.6093227058563" data-long="-58.4032681717613" data-zoom="14">Balvanera</option>
					<option data-barrio="Barracas" data-lat="-34.6445755450559" data-long="-58.3829169516616" data-zoom="14">Barracas</option>
					<option data-barrio="Belgrano" data-lat="-34.5532678728765" data-long="-58.4464521348604" data-zoom="14">Belgrano</option>
					<option data-barrio="Boca" data-lat="-34.6338876903345" data-long="-58.3615293910316" data-zoom="14">Boca</option>
					<option data-barrio="Boedo" data-lat="-34.6304213552842" data-long="-58.4188807059834" data-zoom="14">Boedo</option>
					<option data-barrio="Caballito" data-lat="-34.6166562779805" data-long="-58.4435324959958" data-zoom="14">Caballito</option>
					<option data-barrio="Chacarita" data-lat="-34.5880647105625" data-long="-58.4518020861319" data-zoom="14">Chacarita</option>
					<option data-barrio="Coghlan" data-lat="-34.5601914789001" data-long="-58.4754180616737" data-zoom="14">Coghlan</option>
					<option data-barrio="Colegiales" data-lat="-34.5746395655064" data-long="-58.4531038756845" data-zoom="14">Colegiales</option>
					<option data-barrio="Constitucion" data-lat="-34.6257883610081" data-long="-58.3838643102714" data-zoom="14">Constitucion</option>
					<option data-barrio="Flores" data-lat="-34.6353460166486" data-long="-58.4621873655078" data-zoom="14">Flores</option>
					<option data-barrio="Floresta" data-lat="-34.6278315241088" data-long="-58.48267829941" data-zoom="14">Floresta</option>
					<option data-barrio="Liniers" data-lat="-34.6448445206002" data-long="-58.5166357749025" data-zoom="14">Liniers</option>
					<option data-barrio="Mataderos" data-lat="-34.6589590220086" data-long="-58.5017739117247" data-zoom="14">Mataderos</option>
					<option data-barrio="Monserrat" data-lat="-34.612330602846" data-long="-58.3794389028705" data-zoom="14">Monserrat</option>
					<option data-barrio="Monte Castro" data-lat="-34.6187880463312" data-long="-58.5052109648438" data-zoom="14">Monte Castro</option>
					<option data-barrio="Nueva Pompeya" data-lat="-34.6500773392728" data-long="-58.4177772495764" data-zoom="14">Nueva Pompeya</option>
					<option data-barrio="Nuñez" data-lat="-34.5432347991421" data-long="-58.4611350328884" data-zoom="14">Nuñez</option>
					<option data-barrio="Palermo" data-lat="-34.5743954065221" data-long="-58.4227160209753" data-zoom="14">Palermo</option>
					<option data-barrio="Parque Avellaneda" data-lat="-34.6497140035796" data-long="-58.4773777903261" data-zoom="14">Parque Avellaneda</option>
					<option data-barrio="Parque Chacabuco" data-lat="-34.637175431996" data-long="-58.4379303416617" data-zoom="14">Parque Chacabuco</option>
					<option data-barrio="Parque Chas" data-lat="-34.5854242669018" data-long="-58.480045646722" data-zoom="14">Parque Chas</option>
					<option data-barrio="Parque Patricios" data-lat="-34.6379179538403" data-long="-58.4006301091095" data-zoom="14">Parque Patricios</option>
					<option data-barrio="Paternal" data-lat="-34.5963782282419" data-long="-58.4715642002865" data-zoom="14">Paternal</option>
					<option data-barrio="Puerto Madero" data-lat="-34.6101158222289" data-long="-58.3526266685737" data-zoom="14">Puerto Madero</option>
					<option data-barrio="Recoleta" data-lat="-34.5845546116709" data-long="-58.3964637494477" data-zoom="14">Recoleta</option>
					<option data-barrio="Retiro" data-lat="-34.5883884720865" data-long="-58.372298347688" data-zoom="14">Retiro</option>
					<option data-barrio="Saavedra" data-lat="-34.554313884165" data-long="-58.4889030865477" data-zoom="14">Saavedra</option>
					<option data-barrio="San Cristobal" data-lat="-34.6242575447172" data-long="-58.4017970791833" data-zoom="14">San Cristobal</option>
					<option data-barrio="San Nicolas" data-lat="-34.603806714151" data-long="-58.3802057464816" data-zoom="14">San Nicolas</option>
					<option data-barrio="San Telmo" data-lat="-34.6225594664168" data-long="-58.3715549721975" data-zoom="14">San Telmo</option>
					<option data-barrio="Velez Sarsfield" data-lat="-34.6313352534466" data-long="-58.4939349754642" data-zoom="14">Velez Sarsfield</option>
					<option data-barrio="Versalles" data-lat="-34.62917326487" data-long="-58.5230739499297" data-zoom="14">Versalles</option>
					<option data-barrio="Villa Crespo" data-lat="-34.5981416725561" data-long="-58.4418491950448" data-zoom="14">Villa Crespo</option>
					<option data-barrio="Del Parque" data-lat="-34.6059022854685" data-long="-58.4889954527539" data-zoom="14">Villa Del Parque</option>
					<option data-barrio="Villa Devoto" data-lat="-34.6007416676166" data-long="-58.5141058486933" data-zoom="14">Villa Devoto</option>
					<option data-barrio="Gral. Mitre" data-lat="-34.6105078438308" data-long="-58.4698306002429" data-zoom="14">Villa Gral. Mitre</option>
					<option data-barrio="Villa Lugano" data-lat="-34.6746538240819" data-long="-58.47985715382" data-zoom="14">Villa Lugano</option>
					<option data-barrio="Villa Luro" data-lat="-34.6350484121104" data-long="-58.5029621864507" data-zoom="14">Villa Luro</option>
					<option data-barrio="Villa Ortuzar" data-lat="-34.5815446337104" data-long="-58.4672995761556" data-zoom="14">Villa Ortuzar</option>
					<option data-barrio="Villa Pueyrredon" data-lat="-34.581609326625" data-long="-58.5035894660205" data-zoom="14">Villa Pueyrredon</option>
					<option data-barrio="Villa Real" data-lat="-34.619209220057" data-long="-58.5247859065315" data-zoom="14">Villa Real</option>
					<option data-barrio="Villa Riachuelo" data-lat="-34.6928607982816" data-long="-58.4645781520123" data-zoom="14">Villa Riachuelo</option>
					<option data-barrio="Santa Rita" data-lat="-34.616378311772" data-long="-58.4834525244926" data-zoom="14">Villa Santa Rita</option>
					<option data-barrio="Villa Soldati" data-lat="-34.6678776277971" data-long="-58.4479777460868" data-zoom="14">Villa Soldati</option>
					<option data-barrio="Villa Urquiza" data-lat="-34.5719612667097" data-long="-58.4872748403288" data-zoom="14">Villa Urquiza</option>
				</select>

			</div>
		</div>
	</div>
	<div class="static">
		<div class="logo"><span class="icon-gcba"></span></div>
		<div class="version" data-version="Version 0.2">v0.2</div>
		<h1>Mapa de cortes de luz</h1>
	</div>
</nav>