<nav class="active">
	<div class="container-fluid map-selector">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<h2>Vista general</h2>
				<ul>
					<li class="segmentos"><label for="segmentos">Segmentos</label><input type="checkbox" id="segmentos" checked /><span></span></li>
				</ul>
				<h2>Sensores</h2>
				<ul>
					<li class="luminarias"><label for="luminarias">Luminarias LED</label><input type="checkbox" id="luminarias" checked /><span></span></li>
					<li class="nagios"><label for="nagios">Sis. NAGIOS, ASI</label><input type="checkbox" id="nagios" checked /><span></span></li>
					<li class="informantes-voluntarios"><label for="voluntarios">Informantes Voluntarios</label><input type="checkbox" id="voluntarios" checked /><span></span></li>
					<li class="informantes-cucc"><label for="cuc">Informantes CUCC</label><input type="checkbox" id="cuc" checked /><span></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="static">
		<div class="logo"><span class="icon-gcba"></span></div>
		<div class="version" data-version="Version 0.1">v0.1</div>
		<h1>Mapa de cortes de luz</h1>
	</div>
</nav>