<nav class="active navmenu navmenu-default navmenu-fixed-left">
	<div class="container-fluid map-selector">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<h2>Vistas</h2>
				<span id="layer_selector">
					<ul>
						<li class="selected luminarias overcursor" id="ranking_css"><label for="luminarias-radio">Ranking</label><input type="radio" id="luminarias-radio" /><span></span></li>
						<li class="luminarias overcursor" id="porcentaje_css"><label for="porcentaje-radio">% luminarias apagadas</label><input type="radio" id="porcentaje-radio" /><span></span></li>
						<li class="luminarias overcursor" id="tiempo_css"><label for="timepo-radio">Tiempo sin luz</label><input type="radio" id="timepo-radio" /><span></span></li>
					</ul>
			    </span>
				<h2>Sensores</h2>
				<ul>
					<li class="luminarias"><label for="luminarias">Luminarias LED</label><input type="checkbox" id="luminarias" /><span></span></li>
					<li class="nagios"><label for="nagios">Sis. NAGIOS, ASI</label><input type="checkbox" id="nagios" /><span></span></li>
					<li class="informantes-voluntarios disabled"><label for="voluntarios">Informantes Voluntarios</label><input type="checkbox" id="voluntarios" /><span></span></li>
				</ul>
				
				<select name="barrios" id="barrios">
					
				</select>

			</div>
		</div>
	</div>
	<div class="static">
		<div class="logo"><span class="icon-gcba"></span></div>
		<div class="version" data-version="Version 0.2">v0.2</div>
		<h1>Mapa de cortes de luz</h1>
	</div>
</nav>