<nav class="active">
	<div class="container-fluid map-selector">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<h2>Vista general</h2>
				<ul>
					<li class="segmentos"><label for="segmentos">Ranking</label><input type="checkbox" id="segmentos" checked /><span></span></li>
				</ul>
				<h2>Resumen</h2>
				<ul>
					<li class="distancias"><label for="distancias">% luminarias apagadas	</label><input type="checkbox" id="distancias" /><span></span></li>
					<li class="tiempo disabled"><label for="tiempo">Tiempo sin luz</label><input type="checkbox" id="tiempo" /><span></span></li>
					<li class="hospitales disabled"><label for="hospitales">Hospitales</label><input type="checkbox" id="hospitales" /><span></span></li>
					<li class="geriatricos disabled"><label for="geriatricos">Geriátricos</label><input type="checkbox" id="geriatricos" /><span></span></li>
					<li class="escuelas disabled"><label for="escuelas">Escuelas</label><input type="checkbox" id="escuelas" /><span></span></li>
					<li class="electrodependientes disabled"><label for="electrodependientes">Electrodependientes</label><input type="checkbox" id="electrodependientes" /><span></span></li>
				</ul>
				<h2>Sensores</h2>
				<ul>
					
					<li class="luminarias"><label for="luminarias">Luminarias LED</label><input type="checkbox" id="luminarias" /><span></span></li>
					<li class="nagios"><label for="nagios">Sis. NAGIOS, ASI</label><input type="checkbox" id="nagios" /><span></span></li>
					<li class="informantes-voluntarios disabled"><label for="voluntarios">Informantes Voluntarios</label><input type="checkbox" id="voluntarios" /><span></span></li>

				</ul>
			</div>
		</div>
	</div>
	<div class="static">
		<div class="logo"><span class="icon-gcba"></span></div>
		<div class="version" data-version="Version 0.2">v0.2</div>
		<h1>Mapa de cortes de luz</h1>
	</div>
</nav>