<nav class="active navmenu navmenu-default navmenu-fixed-left">
	<div class="container-fluid map-selector">
		<div class="row">
			<div class="col-md-10 col-md-offset-2">
				<h2>Vistas</h2>
				<span id="layer_selector">
					<ul>
						<li class="selected luminarias overcursor" id="ranking_css"><label for="luminarias-radio">Ranking</label><input type="radio" id="luminarias-radio" /><span></span></li>
						<li class="luminarias overcursor" id="porcentaje_css"><label for="porcentaje-radio">% luminarias apagadas</label><input type="radio" id="porcentaje-radio" /><span></span></li>
						<li class="luminarias overcursor" id="tiempo_css"><label for="timepo-radio">Tiempo sin luz</label><input type="radio" id="timepo-radio" /><span></span></li>
					</ul>
			    </span>
				<h2>Sensores</h2>
				<ul>
					<li class="luminarias"><label for="luminarias">Luminarias LED</label><input type="checkbox" id="luminarias" /><span></span></li>
					<li class="nagios"><label for="nagios">Sis. NAGIOS, ASI</label><input type="checkbox" id="nagios" /><span></span></li>
					<li class="informantes-voluntarios disabled"><label for="voluntarios">Informantes Voluntarios</label><input type="checkbox" id="voluntarios" /><span></span></li>
				</ul>
				
				<select name="barrios" id="barrios">
					<option value="Agronomia">Agronomia</option>
					<option value="Almagro">Almagro</option>
					<option value="Balvanera">Balvanera</option>
					<option value="Barracas">Barracas</option>
					<option value="Belgrano">Belgrano</option>
					<option value="Boca">Boca</option>
					<option value="Boedo">Boedo</option>
					<option value="Caballito">Caballito</option>
					<option value="Chacarita">Chacarita</option>
					<option value="Coghlan">Coghlan</option>
					<option value="Colegiales">Colegiales</option>
					<option value="Constitucion">Constitucion</option>
					<option value="Flores">Flores</option>
					<option value="Floresta">Floresta</option>
					<option value="Liniers">Liniers</option>
					<option value="Mataderos">Mataderos</option>
					<option value="Monserrat">Monserrat</option>
					<option value="Monte Castro">Monte Castro</option>
					<option value="Nueva Pompeya">Nueva Pompeya</option>
					<option value="Nuñez">Nuñez</option>
					<option value="Palermo">Palermo</option>
					<option value="Parque Avellaneda">Parque Avellaneda</option>
					<option value="Parque Chacabuco">Parque Chacabuco</option>
					<option value="Parque Chas">Parque Chas</option>
					<option value="Parque Patricios">Parque Patricios</option>
					<option value="Paternal">Paternal</option>
					<option value="Puerto Madero">Puerto Madero</option>
					<option value="Recoleta">Recoleta</option>
					<option value="Retiro">Retiro</option>
					<option value="Saavedra">Saavedra</option>
					<option value="San Cristobal">San Cristobal</option>
					<option value="San Nicolas">San Nicolas</option>
					<option value="San Telmo">San Telmo</option>
					<option value="Velez Sarsfield">Velez Sarsfield</option>
					<option value="Versalles">Versalles</option>
					<option value="Villa Crespo">Villa Crespo</option>
					<option value="Del Parque">Del Parque</option>
					<option value="Villa Devoto">Villa Devoto</option>
					<option value="Gral. Mitre">Gral. Mitre</option>
					<option value="Villa Lugano">Villa Lugano</option>
					<option value="Villa Luro">Villa Luro</option>
					<option value="Villa Ortuzar">Villa Ortuzar</option>
					<option value="Villa Pueyrredon">Villa Pueyrredon</option>
					<option value="Villa Real">Villa Real</option>
					<option value="Villa Riachuelo">Villa Riachuelo</option>
					<option value="Santa Rita">Santa Rita</option>
					<option value="Villa Soldati">Villa Soldati</option>
					<option value="Villa Urquiza">Villa Urquiza</option>
				</select>

			</div>
		</div>
	</div>
	<div class="static">
		<div class="logo"><span class="icon-gcba"></span></div>
		<div class="version" data-version="Version 0.2">v0.2</div>
		<h1>Mapa de cortes de luz</h1>
	</div>
</nav>