<div class="canvas">
  <div class="navbar navbar-default navbar-fixed-top">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas" id="toggleNav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  </div>
  <select name="barrios" id="barrios" data-placeholder="Seleccionar un barrio" class="anchor">
    <option value="" data-barrio="Mapa CABA Completo" data-lat="-34.61943545859432" data-long="-418.4366226196289" data-zoom="12"></option>
    <option data-barrio="Agronomia" data-lat="-34.5922445833988" data-long="-58.4883951507128" data-zoom="15">Agronomia</option>
    <option data-barrio="Almagro" data-lat="-34.6098936682854" data-long="-58.4224632845641" data-zoom="15">Almagro</option>
    <option data-barrio="Balvanera" data-lat="-34.6093227058563" data-long="-58.4032681717613" data-zoom="15">Balvanera</option>
    <option data-barrio="Barracas" data-lat="-34.6445755450559" data-long="-58.3829169516616" data-zoom="14">Barracas</option>
    <option data-barrio="Belgrano" data-lat="-34.5532678728765" data-long="-58.4464521348604" data-zoom="14">Belgrano</option>
    <option data-barrio="Boca" data-lat="-34.6338876903345" data-long="-58.3615293910316" data-zoom="14">Boca</option>
    <option data-barrio="Boedo" data-lat="-34.6304213552842" data-long="-58.4188807059834" data-zoom="15">Boedo</option>
    <option data-barrio="Caballito" data-lat="-34.6166562779805" data-long="-58.4435324959958" data-zoom="14">Caballito</option>
    <option data-barrio="Chacarita" data-lat="-34.5880647105625" data-long="-58.4518020861319" data-zoom="15">Chacarita</option>
    <option data-barrio="Coghlan" data-lat="-34.5601914789001" data-long="-58.4754180616737" data-zoom="15">Coghlan</option>
    <option data-barrio="Colegiales" data-lat="-34.5746395655064" data-long="-58.4531038756845" data-zoom="15">Colegiales</option>
    <option data-barrio="Constitucion" data-lat="-34.6257883610081" data-long="-58.3838643102714" data-zoom="15">Constitucion</option>
    <option data-barrio="Flores" data-lat="-34.6353460166486" data-long="-58.4621873655078" data-zoom="14">Flores</option>
    <option data-barrio="Floresta" data-lat="-34.6278315241088" data-long="-58.48267829941" data-zoom="15">Floresta</option>
    <option data-barrio="Liniers" data-lat="-34.6448445206002" data-long="-58.5166357749025" data-zoom="15">Liniers</option>
    <option data-barrio="Mataderos" data-lat="-34.6589590220086" data-long="-58.5017739117247" data-zoom="15">Mataderos</option>
    <option data-barrio="Monserrat" data-lat="-34.612330602846" data-long="-58.3794389028705" data-zoom="16">Monserrat</option>
    <option data-barrio="Monte Castro" data-lat="-34.6187880463312" data-long="-58.5052109648438" data-zoom="15">Monte Castro</option>
    <option data-barrio="Nueva Pompeya" data-lat="-34.6500773392728" data-long="-58.4177772495764" data-zoom="15">Nueva Pompeya</option>
    <option data-barrio="Nuñez" data-lat="-34.5432347991421" data-long="-58.4611350328884" data-zoom="15">Nuñez</option>
    <option data-barrio="Palermo" data-lat="-34.5743954065221" data-long="-58.4227160209753" data-zoom="14">Palermo</option>
    <option data-barrio="Parque Avellaneda" data-lat="-34.6497140035796" data-long="-58.4773777903261" data-zoom="14">Parque Avellaneda</option>
    <option data-barrio="Parque Chacabuco" data-lat="-34.637175431996" data-long="-58.4379303416617" data-zoom="14">Parque Chacabuco</option>
    <option data-barrio="Parque Chas" data-lat="-34.5854242669018" data-long="-58.480045646722" data-zoom="14">Parque Chas</option>
    <option data-barrio="Parque Patricios" data-lat="-34.6379179538403" data-long="-58.4006301091095" data-zoom="14">Parque Patricios</option>
    <option data-barrio="Paternal" data-lat="-34.5963782282419" data-long="-58.4715642002865" data-zoom="14">Paternal</option>
    <option data-barrio="Puerto Madero" data-lat="-34.6101158222289" data-long="-58.3526266685737" data-zoom="14">Puerto Madero</option>
    <option data-barrio="Recoleta" data-lat="-34.5845546116709" data-long="-58.3964637494477" data-zoom="14">Recoleta</option>
    <option data-barrio="Retiro" data-lat="-34.5883884720865" data-long="-58.372298347688" data-zoom="14">Retiro</option>
    <option data-barrio="Saavedra" data-lat="-34.554313884165" data-long="-58.4889030865477" data-zoom="14">Saavedra</option>
    <option data-barrio="San Cristobal" data-lat="-34.6242575447172" data-long="-58.4017970791833" data-zoom="14">San Cristobal</option>
    <option data-barrio="San Nicolas" data-lat="-34.603806714151" data-long="-58.3802057464816" data-zoom="14">San Nicolas</option>
    <option data-barrio="San Telmo" data-lat="-34.6225594664168" data-long="-58.3715549721975" data-zoom="14">San Telmo</option>
    <option data-barrio="Velez Sarsfield" data-lat="-34.6313352534466" data-long="-58.4939349754642" data-zoom="14">Velez Sarsfield</option>
    <option data-barrio="Versalles" data-lat="-34.62917326487" data-long="-58.5230739499297" data-zoom="14">Versalles</option>
    <option data-barrio="Villa Crespo" data-lat="-34.5981416725561" data-long="-58.4418491950448" data-zoom="14">Villa Crespo</option>
    <option data-barrio="Del Parque" data-lat="-34.6059022854685" data-long="-58.4889954527539" data-zoom="14">Villa Del Parque</option>
    <option data-barrio="Villa Devoto" data-lat="-34.6007416676166" data-long="-58.5141058486933" data-zoom="14">Villa Devoto</option>
    <option data-barrio="Gral. Mitre" data-lat="-34.6105078438308" data-long="-58.4698306002429" data-zoom="14">Villa Gral. Mitre</option>
    <option data-barrio="Villa Lugano" data-lat="-34.6746538240819" data-long="-58.47985715382" data-zoom="14">Villa Lugano</option>
    <option data-barrio="Villa Luro" data-lat="-34.6350484121104" data-long="-58.5029621864507" data-zoom="14">Villa Luro</option>
    <option data-barrio="Villa Ortuzar" data-lat="-34.5815446337104" data-long="-58.4672995761556" data-zoom="14">Villa Ortuzar</option>
    <option data-barrio="Villa Pueyrredon" data-lat="-34.581609326625" data-long="-58.5035894660205" data-zoom="14">Villa Pueyrredon</option>
    <option data-barrio="Villa Real" data-lat="-34.619209220057" data-long="-58.5247859065315" data-zoom="14">Villa Real</option>
    <option data-barrio="Villa Riachuelo" data-lat="-34.6928607982816" data-long="-58.4645781520123" data-zoom="14">Villa Riachuelo</option>
    <option data-barrio="Santa Rita" data-lat="-34.616378311772" data-long="-58.4834525244926" data-zoom="14">Villa Santa Rita</option>
    <option data-barrio="Villa Soldati" data-lat="-34.6678776277971" data-long="-58.4479777460868" data-zoom="14">Villa Soldati</option>
    <option data-barrio="Villa Urquiza" data-lat="-34.5719612667097" data-long="-58.4872748403288" data-zoom="14">Villa Urquiza</option>
  </select>
  <div id="map"></div>
</div>


<script type="cartocss/html" id="ranking_css">

/** Choropleth del Ranking */

#poligonos{
    polygon-fill: #FFFFB2;
    polygon-opacity: 0.8;
    line-color: #000000;
    line-width: 0.5;
    line-opacity: 0.1;
    marker-fill-opacity: 0;
    marker-line-color: #FFF;
    marker-line-width: 0;
    marker-line-opacity: 0;    
}
 #poligonos::labels {
    text-name: [puntaje_ranking] + ' p';
    text-face-name: 'Open Sans Regular';
    text-size: 8;
    text-label-position-tolerance: 0;
    text-fill: #000;
    text-halo-fill: #FFF;
    text-halo-radius: 0;
    text-dy: 0;
    text-allow-overlap: true;
    text-placement: interior;
    text-placement-type: dummy;
}
#poligonos [ puntaje_ranking <= 99] {
  polygon-fill: #B10026;
}
#poligonos [ puntaje_ranking <= 80] {
  polygon-fill: #E31A1C;
}
#poligonos [ puntaje_ranking <= 70] {
     polygon-fill: #FC4E2A;
}
#poligonos [ puntaje_ranking <= 60] {
  polygon-fill: #FD8D3C;
}
#poligonos [ puntaje_ranking <= 50] {
     polygon-fill: #FEB24C;
}
#poligonos [ puntaje_ranking <= 40] {
  polygon-fill: #FED976;
}
#poligonos [ puntaje_ranking <= 20] {
     polygon-fill: #FFFFB2;
}
#poligonos [ puntaje_ranking <= 0] {
  polygon-fill: transparent;
   polygon-opacity: 0;
}
#poligonos [ puntaje_ranking <= 0]::labels {
    text-fill:transparent;
}


  
    
</script>
<script type="cartocss/html" id="porcentaje_css">
  #poligonos{marker-fill-opacity: 0; marker-line-color: #FFF; marker-line-width: 0; marker-line-opacity: 0; polygon-fill: #FFFFB2;polygon-opacity: 0.8;line-color: #000000;line-width:0.5;line-opacity:0.1;}#poligonos::labels{text-name:[porcentaje_sin_luz] + '%';text-face-name:'Open Sans Regular';text-size:8;text-label-position-tolerance: 0;  text-fill: #000;  text-halo-fill: #FFF;  text-halo-radius: 0;  text-dy: 0;  text-allow-overlap: true;  text-placement: interior;  text-placement-type: dummy;}#poligonos [ porcentaje_sin_luz <= 99] {   polygon-fill: #B10026;}#poligonos [ porcentaje_sin_luz <= 80] {   polygon-fill: #E31A1C;}#poligonos [ porcentaje_sin_luz <= 70] {   polygon-fill: #FC4E2A;}#poligonos [ porcentaje_sin_luz <= 60] {   polygon-fill: #FD8D3C;}#poligonos [ porcentaje_sin_luz <= 50] {   polygon-fill: #FEB24C;}#poligonos [ porcentaje_sin_luz <= 40] {   polygon-fill: #FED976;}#poligonos [ porcentaje_sin_luz <= 20] {   polygon-fill: #FFFFB2;}#poligonos [ porcentaje_sin_luz <= 0] { polygon-fill: transparent; polygon-opacity: 0;}#poligonos [ porcentaje_sin_luz <= 0]::labels {text-fill:transparent;}
</script>

<script type="cartocss/html" id="tiempo_css">
  #poligonos{marker-fill-opacity: 0; marker-line-color: #FFF; marker-line-width: 0; marker-line-opacity: 0; polygon-fill: #FFFFB2; polygon-opacity: 0.8; line-color: #000000; line-width: 0.5; line-opacity: 0.1;} #poligonos::labels { text-name: [tiempo_sin_luz] + ' h'; text-face-name: 'Open Sans Regular'; text-size: 8; text-label-position-tolerance: 0; text-fill: #000; text-halo-fill: #FFF; text-halo-radius: 0; text-dy: 0; text-allow-overlap: true; text-placement: interior; text-placement-type: dummy;}#poligonos [ tiempo_sin_luz <= 120] {polygon-fill: #B10026;}#poligonos [ tiempo_sin_luz <= 96] { polygon-fill: #E31A1C;}#poligonos [ tiempo_sin_luz <= 72] { polygon-fill: #FC4E2A;}#poligonos [ tiempo_sin_luz <= 48] {polygon-fill: #FD8D3C;}#poligonos [ tiempo_sin_luz <= 24] {  polygon-fill: #FEB24C;} #poligonos [ tiempo_sin_luz <= 12] { polygon-fill: #FED976;}#poligonos [ tiempo_sin_luz <= 6] { polygon-fill: #FFFFB2;}#poligonos [ tiempo_sin_luz <= 0] {polygon-fill: transparent;polygon-opacity: 0;}#poligonos [ tiempo_sin_luz <= 0]::labels {text-fill:transparent;}
</script>


<script>


var refresh_time = 1000 * 30; //30 segundos cada refresco
var capas, map, sql, polygon;

      var styles = {}, selectedStyle;
      // create layer selector
      function createSelector(layer) {

        var $barrios = $('#layer_selector li');
        $barrios.click(function(e) {
          // get the area of the selected layer
          var $li = $(e.target);
          var style = $li.attr('id');
          if(selectedStyle != style ){
            // change the style in the layer to update the map
            layer.setCartoCSS(styles[style]);
            selectedStyle = style;
          }
        });
      }

      function main() {
        // get the currently selected style
        selectedStyle = $('li.selected').attr('id');
        cartodb.createVis('map', 'http://baemprende.cartodb.com/api/v2/viz/db305dd8-7cb0-11e4-aba4-0e018d66dc29/viz.json')
        .done(function(vis, layers) {
            map = vis.getNativeMap();
            capas = layers;
            var ranking_css =  $('#ranking_css').html();
            var porcentaje_css = $('#porcentaje_css').html();
            var tiempo_css = $('#tiempo_css').html();

            // creo los estilos de css
            styles['ranking-li'] = styles['ranking-label'] = styles['ranking-radio'] = styles['ranking-span'] = ranking_css;
            styles['porcentaje-li'] = styles['ranking-label'] = styles['porcentaje-radio'] = styles['porcentaje-span'] = porcentaje_css;
            styles['tiempo-li'] = styles['tiempo-label'] = styles['tiempo-radio'] = styles['tiempo-span'] = tiempo_css;

            var subLayer = layers[1].getSubLayer(0);
            createSelector(subLayer);
            layers[1].getSubLayer(1).hide();
            layers[1].getSubLayer(2).hide();
            layers[1].getSubLayer(3).hide();

            // defino limites de la visualizacion via cartoDB
            capas[0].leafletMap.setMaxBounds([
                [-34.511226, -58.574735], //top left
                [-34.727366, -58.261625] //bottom right
            ])

        })

        .error(function(err) {
          console.log(err);
        });

        // Cambio posicion y zoom del mapa en funcion de los barrios
        $('select').change(function(){
          var selected = $(this).find('option:selected');
          var barrio = {
            nombre : selected.data('barrio'),
            lat : selected.data('lat'),
            lon : selected.data('long'),
            zoom : selected.data('zoom')
          };

          map.setView([barrio.lat, barrio.lon], barrio.zoom);
         

           });

        setInterval(function () {
          capas[0].redraw();
          capas[1].redraw();
        }, refresh_time);

      }

      window.onload = main;

</script>