<div class="canvas">
  <div class="navbar navbar-default navbar-fixed-top">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  </div>  
  <div id="map"></div>
</div>




<script>
var capas;


      var styles = {}, selectedStyle;
      // create layer selector
      function createSelector(layer) {
        var sql = new cartodb.SQL({ user: 'baemprende' });

        var $options = $('#layer_selector li');
        $options.click(function(e) {
          // get the area of the selected layer
          var $li = $(e.target);
          var style = $li.attr('id');
          if(selectedStyle != style ){
            // change the style in the layer to update the map
            layer.setCartoCSS(styles[style]);
            selectedStyle = style;
          }
        });
      }

      function main() {
        // get the currently selected style
        selectedStyle = $('li.selected').attr('id');

        cartodb.createVis('map', 'http://baemprende.cartodb.com/api/v2/viz/7a4141b8-6f77-11e4-b3f5-0e4fddd5de28/viz.json')
        .done(function(vis, layers) {

          capas = layers;

          // create a new assoc array of styles
          styles['ranking_css'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ puntaje_ranking <= 60] {polygon-fill: #B10026;}#fracciones_poligonos [ puntaje_ranking <= 50] {polygon-fill: #E31A1C;}#fracciones_poligonos [ puntaje_ranking <= 40] {polygon-fill: #FC4E2A;}#fracciones_poligonos [ puntaje_ranking <= 30] {polygon-fill: #FD8D3C;}#fracciones_poligonos [ puntaje_ranking <= 20] {polygon-fill: #FEB24C;}#fracciones_poligonos [ puntaje_ranking <= 10] {polygon-fill: #FED976;}#fracciones_poligonos [ puntaje_ranking <= 0] {polygon-opacity: 0;}";
          styles['porcentaje_css'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ tiempo_sin_luz <= 420]{polygon-fill: #B10026;}#fracciones_poligonos [ tiempo_sin_luz <= 360] {polygon-fill: #E31A1C;}#fracciones_poligonos [ tiempo_sin_luz <= 240] {polygon-fill: #FC4E2A;}#fracciones_poligonos [ tiempo_sin_luz <= 180]{polygon-fill: #FD8D3C;}#fracciones_poligonos [ tiempo_sin_luz <= 120]{polygon-fill: #FEB24C;}#fracciones_poligonos [ tiempo_sin_luz <= 60] { polygon-fill: #FED976;}#fracciones_poligonos [ tiempo_sin_luz <= 0] {  polygon-opacity: 0;}";
          styles['tiempo_css'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ porcentaje_sin_luz <= 60]{polygon-fill: #B10026;}#fracciones_poligonos [porcentaje_sin_luz <= 50]{polygon-fill: #E31A1C;}#fracciones_poligonos [ porcentaje_sin_luz <= 40]{polygon-fill: #FC4E2A;}#fracciones_poligonos [ porcentaje_sin_luz <= 30] {polygon-fill: #FD8D3C;}#fracciones_poligonos [ porcentaje_sin_luz <= 20] {polygon-fill: #FEB24C;}#fracciones_poligonos [ porcentaje_sin_luz <= 10] {polygon-fill: #FED976;}#fracciones_poligonos [ porcentaje_sin_luz <= 0] {polygon-opacity: 0;}";


          var subLayer = layers[1].getSubLayer(0);
          createSelector(subLayer);
          layers[1].getSubLayer(1).hide();
          layers[1].getSubLayer(2).hide();
          layers[1].getSubLayer(3).hide();
        })
        .error(function(err) {
          console.log(err);
        });

        map.fitBounds([
            [40.712, -74.227],
            [40.774, -74.125]
        ]);

      }

      window.onload = main;





/*
SELECT fp.the_geom_webmercator, fp.id_fraccion, fe.puntaje_ranking FROM fracciones_poligonos as fp
inner join fracciones_estadistica as fe on fp.id_fraccion = fe.fraccion_id
inner join tercera on fp.capo = tercera.campo
*/




/*

barrio,longitude,latitude
PUERTO MADERO,-58.3526266685737,-34.6101158222289
BOCA,-58.3615293910316,-34.6338876903345
CHACARITA,-58.4518020861319,-34.5880647105625
VILLA CRESPO,-58.4418491950448,-34.5981416725561
BELGRANO,-58.4464521348604,-34.5532678728765
RECOLETA,-58.3964637494477,-34.5845546116709
RETIRO,-58.372298347688,-34.5883884720865
VILLA SANTA RITA,-58.4834525244926,-34.616378311772
CABALLITO,-58.4435324959958,-34.6166562779805
Dique 1,-58.3636635528939,-34.6208262207471
PARQUE CHACABUCO,-58.4379303416617,-34.637175431996
PARQUE CHAS,-58.480045646722,-34.5854242669018
COLEGIALES,-58.4531038756845,-34.5746395655064
COGHLAN,-58.4754180616737,-34.5601914789001
BOEDO,-58.4188807059834,-34.6304213552842
CONSTITUCION,-58.3838643102714,-34.6257883610081
SAN NICOLAS,-58.3802057464816,-34.603806714151
VILLA REAL,-58.5247859065315,-34.619209220057
PATERNAL,-58.4715642002865,-34.5963782282419
VILLA DEL PARQUE,-58.4889954527539,-34.6059022854685
ALMAGRO,-58.4224632845641,-34.6098936682854
Dique 3,-58.3650410264787,-34.6085990571536
MONTE CASTRO,-58.5052109648438,-34.6187880463312
VILLA LURO,-58.5029621864507,-34.6350484121104
FLORES,-58.4621873655078,-34.6353460166486
SAN CRISTOBAL,-58.4017970791833,-34.6242575447172
PARQUE PATRICIOS,-58.4006301091095,-34.6379179538403
VELEZ SARSFIELD,-58.4939349754642,-34.6313352534466
NUEVA POMPEYA,-58.4177772495764,-34.6500773392728
MATADEROS,-58.5017739117247,-34.6589590220086
VILLA LUGANO,-58.47985715382,-34.6746538240819
SAAVEDRA,-58.4889030865477,-34.554313884165
ESCOLLERA EXTERIOR,-58.3572685061929,-34.5831839348174
VILLA URQUIZA,-58.4872748403288,-34.5719612667097
PARQUE AVELLANEDA,-58.4773777903261,-34.6497140035796
VILLA RIACHUELO,-58.4645781520123,-34.6928607982816
VILLA SOLDATI,-58.4479777460868,-34.6678776277971
VILLA DEVOTO,-58.5141058486933,-34.6007416676166
LINIERS,-58.5166357749025,-34.6448445206002
MONSERRAT,-58.3794389028705,-34.612330602846
BARRACAS,-58.3829169516616,-34.6445755450559
PALERMO,-58.4227160209753,-34.5743954065221
Dique 2,-58.3643130497832,-34.6149754951675
VILLA ORTUZAR,-58.4672995761556,-34.5815446337104
FLORESTA,-58.48267829941,-34.6278315241088
VERSALLES,-58.5230739499297,-34.62917326487
VILLA PUEYRREDON,-58.5035894660205,-34.581609326625
AGRONOMIA,-58.4883951507128,-34.5922445833988
SAN TELMO,-58.3715549721975,-34.6225594664168
BALVANERA,-58.4032681717613,-34.6093227058563
VILLA GRAL. MITRE,-58.4698306002429,-34.6105078438308
NUÑEZ,-58.4611350328884,-34.5432347991421
Dique 4,-58.3658063508058,-34.6019151825093


	$('#map').css('cursor', 'progress');
	var tiempo_de_refresh = 1000 * 60; //1 minuto

	var map = new L.Map('map', {
		zoomControl: false,
		center: [-34.620, -58.444],
		zoom: 13
	});

    L.tileLayer('https://a.tiles.mapbox.com/v3/gcbadata.acde275e/{z}/{x}/{y}.png', {
    	attribution: "<a href='https://www.mapbox.com/about/maps/' target='_blank'>&copy; Mapbox &copy; OpenStreetMap</a> <a class='mapbox-improve-map' href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a>"
    }).addTo(map);
    var styles = {}, selectedStyle;
    cartodb.createLayer(map, 'http://baemprende.cartodb.com/api/v2/viz/7a4141b8-6f77-11e4-b3f5-0e4fddd5de28/viz.json',{ refreshTime: tiempo_de_refresh })
	 	.addTo(map)
	 	.on('done', function(layer){
          styles['red'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ puntaje_ranking <= 60] {polygon-fill: #B10026;}#fracciones_poligonos [ puntaje_ranking <= 50] {polygon-fill: #E31A1C;}#fracciones_poligonos [ puntaje_ranking <= 40] {polygon-fill: #FC4E2A;}#fracciones_poligonos [ puntaje_ranking <= 30] {polygon-fill: #FD8D3C;}#fracciones_poligonos [ puntaje_ranking <= 20] {polygon-fill: #FEB24C;}#fracciones_poligonos [ puntaje_ranking <= 10] {polygon-fill: #FED976;}#fracciones_poligonos [ puntaje_ranking <= 0] {polygon-opacity: 0;}";
          styles['bw'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ tiempo_sin_luz <= 420]{polygon-fill: #B10026;}#fracciones_poligonos [ tiempo_sin_luz <= 360] {polygon-fill: #E31A1C;}#fracciones_poligonos [ tiempo_sin_luz <= 240] {polygon-fill: #FC4E2A;}#fracciones_poligonos [ tiempo_sin_luz <= 180]{polygon-fill: #FD8D3C;}#fracciones_poligonos [ tiempo_sin_luz <= 120]{polygon-fill: #FEB24C;}#fracciones_poligonos [ tiempo_sin_luz <= 60] { polygon-fill: #FED976;}#fracciones_poligonos [ tiempo_sin_luz <= 0] {  polygon-opacity: 0;}";
          styles['area'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ porcentaje_sin_luz <= 60]{polygon-fill: #B10026;}#fracciones_poligonos [porcentaje_sin_luz <= 50]{polygon-fill: #E31A1C;}#fracciones_poligonos [ porcentaje_sin_luz <= 40]{polygon-fill: #FC4E2A;}#fracciones_poligonos [ porcentaje_sin_luz <= 30] {polygon-fill: #FD8D3C;}#fracciones_poligonos [ porcentaje_sin_luz <= 20] {polygon-fill: #FEB24C;}#fracciones_poligonos [ porcentaje_sin_luz <= 10] {polygon-fill: #FED976;}#fracciones_poligonos [ porcentaje_sin_luz <= 0] {polygon-opacity: 0;}";


	 	sublayer = layer.getSubLayer(0);
//	 	layer.getSubLayer(1).hide();
// 	 	layer.getSubLayer(2).hide();
// 	 	layer.getSubLayer(3).hide();
 	 	
 		$('#map').css('cursor', 'pointer');
		
		layer.setInteraction(true);



		layer.on('error', function(err) {
			console.log("Error de capa: " +  err)
	    });


	}).on('error', function() {
		console.log("Ocurrió un error al cargar el mapa");
	});

*/

</script>