<div class="canvas">
  <div class="navbar navbar-default navbar-fixed-top">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas" id="toggleNav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  </div>  
  <div id="map"></div>
</div>




<script>
var capas, map;
      

      var styles = {}, selectedStyle;
      // create layer selector
      function createSelector(layer) {
        var sql = new cartodb.SQL({ user: 'baemprende' });

        var $barrios = $('#layer_selector li');
        $barrios.click(function(e) {
          // get the area of the selected layer
          var $li = $(e.target);
          var style = $li.attr('id');
          if(selectedStyle != style ){
            // change the style in the layer to update the map
            layer.setCartoCSS(styles[style]);
            selectedStyle = style;
          }
        });
      }

      function main() {
        // get the currently selected style
        selectedStyle = $('li.selected').attr('id');

        cartodb.createVis('map', 'http://pixelbeat-v21.cartodb.com/api/v2/viz/757dd230-7a4f-11e4-a944-0e018d66dc29/viz.json')
        // cartodb.createVis('map', 'http://baemprende.cartodb.com/api/v2/viz/7a4141b8-6f77-11e4-b3f5-0e4fddd5de28/viz.json')
        .done(function(vis, layers) {

          map = vis.getNativeMap();
          capas = layers;

          // create a new assoc array of styles
          styles['ranking_css'] = "#poligonos{  polygon-fill: #FFFFB2;  polygon-opacity: 0.8;  line-color: #000000;  line-width: 0.5;  line-opacity: 0.1;} #poligonos::labels {  text-name: [puntaje_ranking] + ' p';  text-face-name: 'Open Sans Regular';  text-size: 8;  text-label-position-tolerance: 0;  text-fill: #000;  text-halo-fill: #FFF;  text-halo-radius: 0;  text-dy: 0;  text-allow-overlap: true;  text-placement: interior;  text-placement-type: dummy;}#poligonos [ puntaje_ranking <= 99] {polygon-fill: #B10026;}#poligonos [ puntaje_ranking <= 80] {polygon-fill: #E31A1C;}#poligonos [ puntaje_ranking <= 70] {   polygon-fill: #FC4E2A;}#poligonos [ puntaje_ranking <= 60] {polygon-fill: #FD8D3C;}#poligonos [ puntaje_ranking <= 50] {   polygon-fill: #FEB24C;}#poligonos [ puntaje_ranking <= 40] {polygon-fill: #FED976;}#poligonos [ puntaje_ranking <= 20] {   polygon-fill: #FFFFB2;}#poligonos [ puntaje_ranking <= 0] {polygon-fill: transparent; polygon-opacity: 0;}#poligonos [ puntaje_ranking <= 0]::labels {  text-fill:transparent;}";
          styles['porcentaje_css'] = "#poligonos{polygon-fill: #FFFFB2;polygon-opacity: 0.8;line-color: #000000;line-width:0.5;line-opacity:0.1;}#poligonos::labels{text-name:[porcentaje_sin_luz] + '%';text-face-name:'Open Sans Regular';text-size:8;text-label-position-tolerance: 0;  text-fill: #000;  text-halo-fill: #FFF;  text-halo-radius: 0;  text-dy: 0;  text-allow-overlap: true;  text-placement: interior;  text-placement-type: dummy;}#poligonos [ porcentaje_sin_luz <= 99] {   polygon-fill: #B10026;}#poligonos [ porcentaje_sin_luz <= 80] {   polygon-fill: #E31A1C;}#poligonos [ porcentaje_sin_luz <= 70] {   polygon-fill: #FC4E2A;}#poligonos [ porcentaje_sin_luz <= 60] {   polygon-fill: #FD8D3C;}#poligonos [ porcentaje_sin_luz <= 50] {   polygon-fill: #FEB24C;}#poligonos [ porcentaje_sin_luz <= 40] {   polygon-fill: #FED976;}#poligonos [ porcentaje_sin_luz <= 20] {   polygon-fill: #FFFFB2;}#poligonos [ porcentaje_sin_luz <= 0] { polygon-fill: transparent; polygon-opacity: 0;}#poligonos [ porcentaje_sin_luz <= 0]::labels {text-fill:transparent;}";
          styles['tiempo_css'] = "#poligonos{ polygon-fill: #FFFFB2; polygon-opacity: 0.8; line-color: #000000; line-width: 0.5; line-opacity: 0.1;} #poligonos::labels { text-name: [tiempo_sin_luz] + ' h'; text-face-name: 'Open Sans Regular'; text-size: 8; text-label-position-tolerance: 0; text-fill: #000; text-halo-fill: #FFF; text-halo-radius: 0; text-dy: 0; text-allow-overlap: true; text-placement: interior; text-placement-type: dummy;}#poligonos [ tiempo_sin_luz <= 120] {polygon-fill: #B10026;}#poligonos [ tiempo_sin_luz <= 96] { polygon-fill: #E31A1C;}#poligonos [ tiempo_sin_luz <= 72] { polygon-fill: #FC4E2A;}#poligonos [ tiempo_sin_luz <= 48] {polygon-fill: #FD8D3C;}#poligonos [ tiempo_sin_luz <= 24] {  polygon-fill: #FEB24C;} #poligonos [ tiempo_sin_luz <= 12] { polygon-fill: #FED976;}#poligonos [ tiempo_sin_luz <= 6] { polygon-fill: #FFFFB2;}#poligonos [ tiempo_sin_luz <= 0] {polygon-fill: transparent;polygon-opacity: 0;}#poligonos [ tiempo_sin_luz <= 0]::labels {text-fill:transparent;}";

          var subLayer = layers[1].getSubLayer(0);
          createSelector(subLayer);
          layers[1].getSubLayer(1).hide();
          layers[1].getSubLayer(2).hide();
          layers[1].getSubLayer(3).hide();


          // defino limites de la visualizacion.
        capas[0].leafletMap.setMaxBounds([
          [-34.508114, -58.616621], //top left
          [-34.705166, -58.306486] //bottom right
        ])

        })

        .error(function(err) {
          console.log(err);
        });



        $('select').change(function(){
          var selected = $(this).find('option:selected');
          var barrio = {
            nombre : selected.data('barrio'),
            lat : selected.data('lat'),
            lon : selected.data('long'),
            zoom : selected.data('zoom')
          };
          console.log(barrio); 
          
          map.setView([barrio.lat, barrio.lon], barrio.zoom);
          $('#toggleNav').click();

           });


      }

      window.onload = main;



/*

	$('#map').css('cursor', 'progress');
	var tiempo_de_refresh = 1000 * 60; //1 minuto

	var map = new L.Map('map', {
		zoomControl: false,
		center: [-34.620, -58.444],
		zoom: 13
	});

    L.tileLayer('https://a.tiles.mapbox.com/v3/gcbadata.acde275e/{z}/{x}/{y}.png', {
    	attribution: "<a href='https://www.mapbox.com/about/maps/' target='_blank'>&copy; Mapbox &copy; OpenStreetMap</a> <a class='mapbox-improve-map' href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a>"
    }).addTo(map);
    var styles = {}, selectedStyle;
    cartodb.createLayer(map, 'http://baemprende.cartodb.com/api/v2/viz/7a4141b8-6f77-11e4-b3f5-0e4fddd5de28/viz.json',{ refreshTime: tiempo_de_refresh })
	 	.addTo(map)
	 	.on('done', function(layer){
          styles['red'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ puntaje_ranking <= 60] {polygon-fill: #B10026;}#fracciones_poligonos [ puntaje_ranking <= 50] {polygon-fill: #E31A1C;}#fracciones_poligonos [ puntaje_ranking <= 40] {polygon-fill: #FC4E2A;}#fracciones_poligonos [ puntaje_ranking <= 30] {polygon-fill: #FD8D3C;}#fracciones_poligonos [ puntaje_ranking <= 20] {polygon-fill: #FEB24C;}#fracciones_poligonos [ puntaje_ranking <= 10] {polygon-fill: #FED976;}#fracciones_poligonos [ puntaje_ranking <= 0] {polygon-opacity: 0;}";
          styles['bw'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ tiempo_sin_luz <= 420]{polygon-fill: #B10026;}#fracciones_poligonos [ tiempo_sin_luz <= 360] {polygon-fill: #E31A1C;}#fracciones_poligonos [ tiempo_sin_luz <= 240] {polygon-fill: #FC4E2A;}#fracciones_poligonos [ tiempo_sin_luz <= 180]{polygon-fill: #FD8D3C;}#fracciones_poligonos [ tiempo_sin_luz <= 120]{polygon-fill: #FEB24C;}#fracciones_poligonos [ tiempo_sin_luz <= 60] { polygon-fill: #FED976;}#fracciones_poligonos [ tiempo_sin_luz <= 0] {  polygon-opacity: 0;}";
          styles['area'] = "#fracciones_poligonos{polygon-fill: #000000;polygon-opacity: 0.8;line-color: #000000;line-width: 0.3;line-opacity: 0.3;}#fracciones_poligonos [ porcentaje_sin_luz <= 60]{polygon-fill: #B10026;}#fracciones_poligonos [porcentaje_sin_luz <= 50]{polygon-fill: #E31A1C;}#fracciones_poligonos [ porcentaje_sin_luz <= 40]{polygon-fill: #FC4E2A;}#fracciones_poligonos [ porcentaje_sin_luz <= 30] {polygon-fill: #FD8D3C;}#fracciones_poligonos [ porcentaje_sin_luz <= 20] {polygon-fill: #FEB24C;}#fracciones_poligonos [ porcentaje_sin_luz <= 10] {polygon-fill: #FED976;}#fracciones_poligonos [ porcentaje_sin_luz <= 0] {polygon-opacity: 0;}";


	 	sublayer = layer.getSubLayer(0);
//	 	layer.getSubLayer(1).hide();
// 	 	layer.getSubLayer(2).hide();
// 	 	layer.getSubLayer(3).hide();
 	 	
 		$('#map').css('cursor', 'pointer');
		
		layer.setInteraction(true);



		layer.on('error', function(err) {
			console.log("Error de capa: " +  err)
	    });


	}).on('error', function() {
		console.log("Ocurrió un error al cargar el mapa");
	});

*/

</script>